[2022-05-25 12:30] giannnni commented on #368
![image](https://user-images.githubusercontent.com/92384659/170262306-1ef6e0dd-ec2a-4ced-a854-24ad38a4a74e.png)

[2022-05-25 12:35] giannnni commented on #335
Fixed as suggested.
Redesigning the whole SWAP component, we added a small button above "max".

<img width="1006" alt="Schermata 2022-05-25 alle 14 34 23" src="https://user-images.githubusercontent.com/92384659/170263026-8f8f7077-ddd1-4684-b6c7-52d144cde487.png">

[2022-05-25 13:48] giannnni commented on #366
Fixed

![image](https://user-images.githubusercontent.com/92384659/170277891-8c8a9288-3140-4d32-9b0f-c2502d41e776.png)

[2022-05-25 21:55] Giorgionocera opened #370 "[Bug]: Swap out calculation is wrong"
### Prerequisites

- [X] You read the guidelines for contributing.
- [X] You are able to reproduce the problem in the latest version of Sinfonia.
- [X] You checked that the problem has not yet been reported (also through closed issues).

### Describe the exact steps to reproduce the problem in as many details as possible

Swap tokens in a very not liquid pool.

### Describe the issue behavior

I e

[2022-05-27 12:40] #15 closed

[2022-05-27 12:41] Giorgionocera commented on #36
We need to re-design this page according to the new information got.

[2022-05-27 12:49] Giorgionocera commented on #71
It is ok at the moment. Thank you!

[2022-05-27 12:49] #71 closed

[2022-05-27 12:50] #92 closed

[2022-05-27 12:50] Giorgionocera commented on #131
It was fixed differently.

[2022-05-27 12:50] #131 closed

[2022-05-27 12:51] #136 closed

[2022-05-27 13:34] giannnni commented on #356
We could avoid to show any red label (as error message) because it's difficult to understand for users why moving more than 20% could be a trouble, so in my opinion there isn't any real or perceived error to show.

[2022-05-27 13:36] giannnni commented on #36
@Giorgionocera maybe we need to talk about this topic during next meeting

[2022-05-30 07:46] Giorgionocera commented on #184
Thank you for this submission. This behavior is linked to the change of the route. As a consequence, it is not a bug. It is expected behavior. Moreover, it could be considered as an enhancement for the UX of the platform that we can implement to improve the experience.
So, if you want you can create a new issue with the template of improvement.
In my opinion, this will be closed as invalid.
Thank

[2022-05-30 07:51] Giorgionocera commented on #192
The first issue is a duplicate of one issue shown in #180. The second is a duplicate of #172.

[2022-05-30 07:57] Giorgionocera commented on #199
Thank you for your issue. This is an improvement for the UX of the platform.
It is not a bug, in fact, if you try to proceed with the transfer you will get an error.
So, if you want you can create a new issue with the template of improvement.
In my opinion, this will be closed as invalid.
Thank you again.

[2022-05-30 08:07] Giorgionocera commented on #257
**The images you posted are not related to the issue you wrote as a description.**
The last image seems to be a temporary bug. Are you able to reproduce it?

[2022-05-30 08:10] Giorgionocera commented on #263
The speed of the transactions depends on the fact that this is a simple testnet environment.
This is definitely not a bug.

[2022-05-30 08:13] #263 closed

[2022-05-30 08:15] Giorgionocera commented on #291
You again did not upload evidence. This issue can be cosed.

[2022-05-30 08:16] #291 closed

[2022-05-30 08:19] Giorgionocera commented on #328
No comments for 14 days. In my opinion, this issue can be closed.

[2022-05-30 08:19] #328 closed

[2022-05-30 11:18] #257 closed

[2022-05-30 11:33] #184 closed

[2022-05-30 11:43] Giorgionocera commented on #364
Hello, thank you for this report. It is related to this issue #96

[2022-05-30 12:06] #199 closed

[2022-05-30 12:06] #364 closed

[2022-05-30 13:32] DavideSegullo commented on #222
Duplicated of #194

[2022-05-30 13:32] DavideSegullo commented on #226
Duplicated of #194

[2022-05-30 13:33] DavideSegullo commented on #235
Duplicated #194

[2022-05-30 13:39] DavideSegullo commented on #311
Duplicated #96

[2022-05-30 13:39] #311 closed

[2022-05-30 13:42] DavideSegullo commented on #313
It isn't related to sinfonia, not sure if it is a bug, but can only be related to Keplr wallet

[2022-05-30 13:42] #313 closed

[2022-05-30 13:46] DavideSegullo commented on #330
It isn't a bug related to Sinfonia, actually doesn't create any trouble for the application, that's only related to cloudflare. But tnx for your feedback

[2022-05-30 13:46] #330 closed

[2022-05-30 13:47] DavideSegullo commented on #336
Not a bug, VIBRA price was changing during that time, that's why you got more BTSG

[2022-05-30 13:48] DavideSegullo commented on #220
Duplicated #194

[2022-05-30 13:48] #220 closed

[2022-05-30 13:48] #222 closed

[2022-05-31 08:54] Giorgionocera commented on #312
You are on a page that is different from the one in which you can add liquidity to the pool. We cannot understand what you are talking about.

[2022-05-31 08:54] #312 closed

[2022-05-31 08:56] Giorgionocera commented on #314
Hello, can you provide us with a video of the issue? It is not possible to reproduce it.

Please add the content before 2nd June, otherwise, the issue will be closed.

[2022-05-31 08:59] Giorgionocera commented on #316
This occurred due to the high volatility of the price and the nature of the testnet.

For this reason, it is definitely not a bug.

[2022-05-31 09:00] #316 closed

[2022-06-03 14:01] Giorgionocera commented on #164
Thank you @giannnni!
@DavideSegullo let's move to the implementation.

[2022-06-03 14:16] Giorgionocera commented on #356
Thank you!

[2022-06-03 14:16] #356 closed

[2022-06-03 14:27] Giorgionocera commented on #366
Thank you!

[2022-06-03 14:27] #366 closed

[2022-06-03 14:28] #314 closed

[2022-06-03 14:33] Giorgionocera commented on #370
It seems working right now :D
Thank you!

[2022-06-03 14:33] #370 closed

[2022-06-03 22:33] Roovys commented on #192
Yes. But #180 ,i think he edited the submission, so its like he the first one who reported this notification bug.

U can see his edit history, he added this notification bug.

[2022-06-09 16:28] Cixuci opened #374 "[Competition Bug]:"
### Prerequisites

- [X] You confirm that your bug is available through the Chrome browser accessed by a Desktop computer.
- [X] You read the guidelines for contributing.
- [X] You are able to reproduce the problem in the latest version of Sinfonia.
- [X] You checked that the problem has not yet been reported (also through closed issues).

### Describe the exact steps to reproduce the problem in a

[2022-06-13 06:05] Giorgionocera commented on #374
This is definitely not a bug.

[2022-06-13 06:05] #374 closed

[2022-07-08 07:52] Giorgionocera opened #376 "[Enhancement]: Use 4 digits for economic values"
### Prerequisites

- [X] You read the guidelines for contributing.
- [X] You checked that the enhancement has not yet been reported (also through closed issues).

### Describe the current behavior

At the moment, by looking at the dollar counter value of the assets in the platform, all numbers are expressed with 2 decimal digits. It could be better to use, as default, a greater number of decimal d

[2022-07-13 08:04] Giorgionocera commented on #376
Thank you!

[2022-07-13 08:04] #376 closed

[2022-07-13 08:07] Giorgionocera opened #380 "Add whitepaper link"
In the FanToken PDP, the link to the whitepaper is currently missing.
We need to add it as an external link to the bitsong.io website whitepaper relative page (until the page is completed).

[2022-07-13 08:18] Giorgionocera opened #381 "Listing of gamm/pool"
At the moment, gamm/pool tokens are not listed on the assets page.
In this way, they do not appear in the total values on the top cards.
<img width="1680" alt="Schermata 2022-07-13 alle 10 17 40" src="https://user-images.githubusercontent.com/13519292/178685524-7051997f-c8b6-49ad-b7c7-1950e755eb35.png">

I think we could add these tokens (gamm/pool tokens) in a new table below the actual FanToken

[2022-07-13 08:33] Giorgionocera opened #382 "Add Amino message implementation for claim"
At the moment, no Amino message implementation is available for the claim tx.
For this reason, users using a ledger could have errors in claiming the MerkleDrop.
We need to fix it.

[2022-07-13 08:37] angelorc commented on #382
@DavideSegullo how we can fix it?

[2022-07-13 08:46] Giorgionocera opened #383 "Transfer fees are in BTSG not in FanToken"
On the assets page, when a user wants to transfer all the FanToken (on the BitSong chain) to the Osmosis chain, not all the tokens are transferred. This could be good for the BTSG (due to the fees) but not for the FanTokens.

[2022-07-13 09:04] Giorgionocera opened #384 "Feedback on epoch time"
When the platform reaches the epoch time, the whole platform slows down in the requests.
For this reason, it could be helpful to show feedback to the user that shows that "things can be delayed".
We can think to add a tooltip near the epoch time countdown, or show a popup to every user on each page they're exactly at 00:00 of the epoch time.

@giannnni what do you think about it?

[2022-07-13 09:52] DavideSegullo commented on #382
@angelorc I am looking for a solution, I am currently getting the following error:

`Uncaught (in promise) Error: Broadcasting transaction failed with code 4 (codespace: sdk). Log: signature verification failed; please verify account number (24262), sequence (41) and chain-id (bitsong-2b): unauthorized
    at SigningStargateClient.broadcastTx (stargateclient.ts:375:13)
    at async TransactionMana

[2022-07-13 12:06] Giorgionocera opened #385 "Improve the token selector"
At the moment, we are using a select (dropdown) to let the user select a token in the swap component. Due to the fact that we have a big number of tokens (which number should increase soon), we should propose a new component for the token selection.

Some suggestions:
- We can change the dropdown with a dialog
- We can add a search bar inside the dialog
- We can add other info for each asset (Avai

[2022-07-13 12:12] Giorgionocera opened #386 "Improve the Transactions and FanTokens list"
On the swap page, on the right, we have two different tables containing data. They are messy and the spacing inside is very incorrect. We should review such a component to provide a better user experience.

![listing](https://user-images.githubusercontent.com/13519292/178730557-851c2fc6-56df-4d90-a241-22f11d79db72.jpg)

[2022-07-13 12:35] giannnni commented on #386
Totally agree. In addition to that we could provide better informations than now, switching FanToken list with a Balance preview, fixing margins and components.

Example provided below:
<img width="601" alt="Schermata 2022-07-13 alle 14 34 55" src="https://user-images.githubusercontent.com/92384659/178734729-0856004c-7c10-438b-9fca-97f3433b480c.png">

[2022-07-13 12:40] giannnni commented on #385
Due to a redesign of the entire Swap Component, I could suggest a better solution that could include some extra help for users like a search field and a small "Recent Swapped Token" carousel.

You could see the new select component just below:
![image](https://user-images.githubusercontent.com/92384659/178735624-702ac005-4a8c-4fa9-84e9-9b96ceea21cd.png)

[2022-07-13 13:27] Giorgionocera commented on #386
I think it is a nice solution. Thank you!

Let's see what @angelorc thinks about it.

[2022-07-13 13:28] giannnni commented on #384
To improve user experience while sinfonia reaching epoch times we could add a short text below the countdown when it reaches the end of the epoch, just to inform user that the platform is distributing rewards so they've to wait few minutes to receive those.

My suggestion here:
<img width="432" alt="Schermata 2022-07-13 alle 15 27 29" src="https://user-images.githubusercontent.com/92384659/1787449

[2022-07-13 13:28] Giorgionocera commented on #385
I think it is a nice solution. Thank you!
Do you have also the mobile and tablet versions?

Anyway, let's see what @angelorc thinks about it.

[2022-07-13 13:30] Giorgionocera commented on #380
Thank you!

[2022-07-13 13:36] Giorgionocera commented on #384
@giannnni do you think it could be enough to show the message only on this page?

[2022-07-13 14:13] Giorgionocera opened #387 "Add breadcrumb"
At the moment, once a user reaches a specific pool (let me say Pool 751 a.k.a. CLAY/BTSG), on the menu, the only selected voice is the pool one.
We could try to show more information to the user, in order to give more specifications to the current position.

We could for example use a breadcrumb. What do you think about it, @giannnni ?

[2022-07-13 14:36] Giorgionocera opened #388 "List visualization for pools"
At the moment, we show the pools as cards. It could be useful to also provide a list visualization.
![Schermata 2022-07-13 alle 16 34 37](https://user-images.githubusercontent.com/13519292/178759952-52804eb2-78f9-4943-a73e-253c3c43f2a4.png)

An example (reference) for the pool visualization as a list is provided by [astroport](https://app.astroport.fi/pools).
![Schermata 2022-07-13 alle 16 34 57](

[2022-07-13 14:46] Giorgionocera opened #389 "Filter pools"
It could be useful to filter the pools inside the relative page. In this sense, it could be useful to add a search bar, for example.

@giannnni do you have solutions?

[2022-07-13 14:50] Giorgionocera opened #390 "Total market cap"
In the FanTokens page list, it could be useful to add the total market cap as the total of the FanTokens single market caps.
This could help the user to understand the amount of circulating money.

@giannnni which solution do you propose?

[2022-07-13 14:54] Giorgionocera opened #391 "Spinning rotation"
We should speed up the rotation for the spinning icon in the tx toast notification.

<img width="490" alt="Schermata 2022-07-13 alle 16 52 10" src="https://user-images.githubusercontent.com/13519292/178764164-3f969b76-1ed8-426f-919f-9bed340145de.png">

[2022-07-13 14:59] #367 closed

[2022-07-13 15:03] DavideSegullo commented on #368
Duplicated of #388

[2022-07-13 15:03] #368 closed

[2022-07-13 15:27] Giorgionocera commented on #391
Thank you!

[2022-07-13 15:27] #391 closed

[2022-07-13 20:21] Giorgionocera opened #392 "Disable swap"
@giannnni and @DavideSegullo ,  what do you think about disabling the swap button, after clicking on the swap button to perform a swap tx, until the transaction is completed?

Reference:
- Osmosis

[2022-07-13 20:23] Giorgionocera opened #393 "Reset swap form"
Andrea is asking to reset the swap form after the swap process started, to avoid getting an "insufficient fund" error.
@giannnni, what do you think in terms of user experience?

[2022-07-13 20:27] Giorgionocera opened #394 "Move start earning button"
Andrea is proposing to move the "start earning" button near to the "Add/Remove Liquidity" one.
This could help the user to understand the result of the operation to the user and that he needs to complete the operation.

Please @giannnni, can we have feedback on this?

[2022-07-14 07:34] Giorgionocera commented on #381
Thank you, @DavideSegullo we can move it in development.

[2022-07-14 07:46] Giorgionocera opened #395 "Missing pools or FanToken"
At the moment, if a user tries to reach a pool page with a not existing pool ID (e.g., ID 1 => https://app.sinfonia.zone/pools/1), the result is a blank page. The same happens with the FanToken ID (e.g., https://app.sinfonia.zone/fantokens/ft2D8E7041556CE93E1EFD66C07C45D551A6AAAE01).
![Schermata 2022-07-14 alle 09 39 20](https://user-images.githubusercontent.com/13519292/178928516-6cfd40f2-03f4-47

[2022-07-14 10:13] giannnni commented on #395
Not choosing between your two options, I made a simple 404 error page.

![image](https://user-images.githubusercontent.com/92384659/178959543-240c9521-4d3d-47cd-ba21-975cf13efa59.png)

[2022-07-14 10:43] giannnni commented on #394
In my idea "Start Earning" button can't go above Liquidity Mining section because it's strictly related to this area.

Few steps back, to provide liquidity inside our pools Sinfonia User has to perform two actions, first of all he needs to put his money inside and then he bonds it. So there are two consecutive actions and you could find them clearly separated one below the other at the top of the

[2022-07-14 10:49] giannnni commented on #393
I'm agree. We have to rework the complete behaviour of the Swap Component in terms of error messages and microinteractions imho.

[2022-07-14 11:21] giannnni commented on #390
We could replicate the Balance Page layout with 4 boxes with highlighted KPI like Market Cap, Bonded Value, #Tokens.

An example provided here: ![image](https://user-images.githubusercontent.com/92384659/178970903-49baffc3-4d88-4f5d-a442-67fbcd028122.png)

[2022-07-14 11:55] angelorc commented on #388
I like it

[2022-07-14 13:21] Giorgionocera commented on #390
As from the recent discussion, CoinMarketCap presents a set of features that can be useful also on Sinfonia.

Some examples:
- [ ] the expression of the global market cap, in Box 1;
- [ ] the usage of filters, in Box 2 (in our case they could be artists, labels, etc. and, for music it could be the music style);
- [ ] the usage of an out-of-the-box grid.

![all_suggestions_boxes](https://user-image

[2022-07-14 13:31] Giorgionocera opened #396 "Reduce top spacing"
It is important to reduce the top spacing in the FanTokens page on Sinfonia, on the mobile visualization.

![mobile_issue](https://user-images.githubusercontent.com/13519292/178994146-d4400231-fcc5-4a59-9a29-255c5e2affb6.png)

[2022-07-14 13:33] Giorgionocera commented on #388
Thank you @giannnni !
@DavideSegullo we can move this to the development!

[2022-07-14 13:33] giannnni commented on #390
As discussed few minutes ago, you can see two different solutions for this rework here follow:

• proposal 1:
![image](https://user-images.githubusercontent.com/92384659/178994266-976a8fab-795a-45a2-9fcd-c4b36b7d8390.png)
• proposal 2:
![image](https://user-images.githubusercontent.com/92384659/178994322-f45b9d19-92e6-4d0f-a09b-29961bde8905.png)

[2022-07-14 13:36] Giorgionocera commented on #395
I really like this page!! Thank you @giannnni !
@DavideSegullo let's move it in development ;)

[2022-07-14 13:38] giannnni commented on #385
Yes, you could see here a minimized version for mobile only (opened as a bottom sheet):

· Base version:
![image](https://user-images.githubusercontent.com/92384659/178995235-706c97a8-9c7c-476a-9f4a-565cf0059e42.png)
· Slippage menu open:
![image](https://user-images.githubusercontent.com/92384659/178995342-ca4f9545-e55f-4a86-88d1-9456cb25ad9c.png)
· Select Token open:
![image](https://user-images

[2022-07-14 13:39] Giorgionocera commented on #392
Thank you for your feedback @giannnni.
@DavideSegullo let's move to development!

[2022-07-14 13:56] ctrl-Felix opened #397 "Bug: Error when claiming airdrop with ledger"
Users in the Discord reported that it's not possible to claim the airdrop on sinfonia with a ledger. Following error appears:
![grafik](https://user-images.githubusercontent.com/62290842/178999477-50e56170-28e9-46c2-8057-fc59f155832f.png)

[2022-07-14 14:10] Giorgionocera commented on #397
It is a duplicate for #382.
Thank you.

[2022-07-14 14:10] #397 closed

[2022-07-14 14:15] Giorgionocera commented on #390
Let's wait for feedback from @angelorc.

[2022-07-14 14:19] Giorgionocera commented on #385
It is very nice. However I think this blur could be an issue at the moment, but let's wait for feedback from @DavideSegullo.

[2022-07-14 15:48] Giorgionocera opened #398 "Asset page tokens table"
On the assets page, the token table contains a set of information that could be rethought. In such a scenario, it could be better to better understand the information architecture behind the objects and try to figure out a new setup.

[2022-07-15 08:17] Giorgionocera commented on #396
Thank you!

[2022-07-15 08:17] #396 closed

[2022-07-15 08:21] Giorgionocera commented on #380
We also need to add the content to the asset list to make it work.

[2022-07-15 08:24] #380 closed

[2022-07-15 08:27] Giorgionocera commented on #381
@giannnni and @DavideSegullo why do we put the "GAMM Pool" table before the Tokens one?

What about swapping them (as we talked about at the beginning, with the Tokens table on top)?

[2022-07-15 08:28] Giorgionocera commented on #381
Moreover, @DavideSegullo there is a bug in the context menu. It takes the wrong table for actions.

[2022-07-15 08:42] Giorgionocera commented on #392
With this edit, we disable the swap button when any tx is pending. But IMHO, if we want to follow the pattern "disable if something is pending", we should do it with any button that could generate a tx (e.g., claim buttons, add liquidity buttons, etc.).
Otherways, we can disable the swap button only if a swap tx is pending.

@giannnni and @DavideSegullo, what do you think about this?

[2022-07-15 08:45] Giorgionocera commented on #394
I got your point and it makes sense. What about adding some "hint" for the user? Like something to say: "ok, now let's bond this money you put in the pool!".
Could this help in your opinion? @giannnni

[2022-07-15 08:54] Giorgionocera opened #399 "Pools redesign"
It was realized a new design for the pools that allow showing all information at once and is more flexible for different types of pools.
![Sinfonia - Pools](https://user-images.githubusercontent.com/13519292/179189753-1c8cae69-ea7e-42c9-ae23-168b5fa26c55.jpg)

We need to move this in development :D
C'mon @DavideSegullo ! 💪

[2022-07-15 09:02] DavideSegullo commented on #385
@Giorgionocera It's better if we doesn't use it if not required

[2022-07-15 09:18] DavideSegullo commented on #381
Actually I like it on top of the page, because I can see what I can bond inside the pools

[2022-07-16 09:50] Giorgionocera commented on #385
@giannnni, can we remove it? Or is it required?

[2022-07-17 14:26] giannnni commented on #385
Ok, let's move to solid color #311D3E

[2022-07-17 14:31] giannnni commented on #398
My proposal is a set of column for:

· Preferred Icon
· Token Img
· Token Symbol
· Token Name
· Chain
· Price
· Available
· Quantity
· Move Icon
· Accordion Arrow Icon

Let me know if you're agree.

[2022-07-17 14:35] giannnni commented on #394
No, it would be useless at this time. Our total audience came from Osmosis so they know perfectly as using the platform. In other way I know that we need to rethink the whole process for users that doesn't know what's a pool and how it works.

So let me know if you want to redesign it from the start or not.

[2022-07-17 14:37] giannnni commented on #387
Yes, I figured this component just on top of the page, near logo.

Look at the example below:
<img width="1014" alt="Schermata 2022-07-17 alle 16 36 37" src="https://user-images.githubusercontent.com/92384659/179403400-e2d301d8-e27f-4a5d-a58e-a452b736bd5c.png">

[2022-07-17 14:39] giannnni commented on #36
Sure, let me know when.

[2022-07-17 14:43] giannnni commented on #393
I'll talk directly with @DavideSegullo

[2022-07-18 14:02] giannnni opened #401 "Reintegration of the Playground"
While testing the Sinfonia platform few months ago, we created a section where users could play with artists/ platform activities to gain fantokens as airdrops. This section was named Playground.
In order to preserve the perception by our users of this complex environment, showing users that Sinfonia in not only a DEX, I suggest to reintegrate this page even without any activity at this moment.

W

[2022-07-18 20:42] Giorgionocera commented on #387
I think it is a very nice solution. Thank you!!
@DavideSegullo let's move it into development.

[2022-07-18 20:45] Giorgionocera commented on #394
If you think it could be useful to redesign the process to help also new users, please let's start this work. 💪

[2022-07-18 20:52] Giorgionocera commented on #398
I think it is complete. Can you try to transform this architecture into a design now? 😜

[2022-07-18 21:09] Giorgionocera opened #402 "Missing placeholder"
The placeholder for an empty history of transactions is missing at the moment.
We need to add it.

![missing-placeholder](https://user-images.githubusercontent.com/13519292/179617637-5410e3c6-6724-487e-b8a7-e96f51d097bf.jpg)

[2022-07-18 21:09] #399 closed

[2022-07-18 22:31] Giorgionocera commented on #171
The last value for APR does not include the first distribution (14d not including 1d). Moreover, it is only considered half liquidity value.

[2022-07-18 22:35] Giorgionocera commented on #171
Thank you!

[2022-07-19 13:01] DavideSegullo opened #403 "App Mobile Menu"
The current mobile menu doesn't fit the style of the site and has some UX issues, we can redesign it? Maybe we can use a tab bar navigation like a mobile app (for example like cosmonautico)?

[2022-07-19 16:43] giulioaiello commented on #395
copy suggestion:

1- Lost and insecure,
Where were you? Where were you?

The Fray

2- Find me, I'm under your spell
Find me, I'll dig your well

Bob Dylan

3- Lost, I was lost, I was lost 'til you loved me

Maroon5

4- No woman no cry

Bob Marley

5- There's no one around,
There's no one around,
There's no one around,
There's no one around,

Chase & Status

6- You're the only one that I want
But w

[2022-07-20 08:19] Giorgionocera commented on #403
Yeah, I agree with you. C'mon, @giannnni let's try to reinvent this flow!

[2022-07-20 08:22] Giorgionocera commented on #395
Thank you @giulioaiello! 💪 I like 3 and 7 as a text for the page.

[2022-07-20 08:44] giulioaiello commented on #395
my favs are 1 - 3 - 5 - 6 - 7

[2022-07-20 10:47] Giorgionocera commented on #385
As from the meeting with @angelorc, we need:
- [ ] reduce margins in tokens selector;
- [ ] move the FanToken name under the symbol.
So please @giannnni , let's perform these edits! 💪

[2022-07-20 10:52] Giorgionocera commented on #386
As per the meeting with @angelorc , we need to remove the extra info on the swap page.
- [ ] remove the transactions and balance elements.
@giannnni we are in your hands 😏

[2022-07-20 10:57] Giorgionocera opened #405 "Add notifications"
As per the meeting with @angelorc, we are removing the transactions list from the swap page (as said in issue #386).
In this sense, we can think of a new approach with a notification system for the user, where we can also show the transactions as notifications.

[2022-07-21 14:33] giannnni commented on #398
Oh you, little fox

<img width="909" alt="Schermata 2022-07-21 alle 16 32 54" src="https://user-images.githubusercontent.com/92384659/180240260-95143a27-c51f-4694-9d9b-1e4d110a73ce.png">

[2022-07-21 14:39] giannnni commented on #386
Hands of Time, little present. https://www.youtube.com/watch?v=KDmtOW8hd54

![image](https://user-images.githubusercontent.com/92384659/180241553-7d4a8342-24f3-47cc-a110-4460d1d483c1.png)

[2022-07-21 14:40] #394 closed

[2022-07-21 14:42] giannnni commented on #390
DEX Page - Summer Edition
![image](https://user-images.githubusercontent.com/92384659/180242400-8e66511f-b718-4191-ac49-94516081f00c.png)

[2022-07-21 16:43] DavideSegullo commented on #402
@Giorgionocera  I think we can close this issue, as this section is being removed #386

[2022-07-22 09:51] Giorgionocera opened #406 "Redesign join/bond process"
As discussed in issue #394,

So we need to redesign the process of joining pool and bonding assets for a gauge.
Amaze us! 😏

[2022-07-22 09:55] Giorgionocera commented on #390
I think we really hit the nail on the head 😍 .
@DavideSegullo let's move it in development man!

[2022-07-22 09:56] Giorgionocera commented on #402
You are right! 💪
Bye-bye issue!

[2022-07-22 09:56] #402 closed

[2022-07-22 09:57] Giorgionocera commented on #386
Do you provided also the mobile and tablet versions for this design implementation? 😄

[2022-07-22 10:30] Giorgionocera commented on #395
The content on the page is not center-aligned.

Design:
![telegram-cloud-photo-size-4-5967707138119809567-y](https://user-images.githubusercontent.com/13519292/180420673-d4774dd8-f9b9-44c1-a2cc-cdd2b218ab30.jpg)

Implementation:
![telegram-cloud-photo-size-4-5967707138119809568-y](https://user-images.githubusercontent.com/13519292/180420731-72623d92-cede-4786-b766-e8bf4fb8089c.jpg)

I understand i

[2022-07-22 10:48] Giorgionocera commented on #398
Thank you @DavideSegullo and @giannnni <3.

@DavideSegullo we need to fix some points:
- [ ] fix the order for Osmosis and BitSong chain in the corresponding column;
- [ ] add the corresponding icon in each row.

[2022-07-22 10:59] Giorgionocera commented on #398
Thank you 😄

[2022-07-22 10:59] Giorgionocera commented on #395
Thank you 😄

[2022-07-22 10:59] #395 closed

[2022-07-22 10:59] #398 closed

[2022-07-22 13:45] giannnni commented on #405
As discussed in previous meetings, I suggest a simple notification icon on the right top of the page, opening a dropdown when clicked. The icon will change when a transaction is processing, showing the same spinner we use in toast notification until the Tx is validated, allowing user to monitor status of Txs from every page without opening the component.

<img width="832" alt="Schermata 2022-07-22

[2022-07-22 14:08] giannnni commented on #403
Hi guys, I designed for you three different approach of mobile menu:
• one with a section label with a dropdown that opens the menu
![image](https://user-images.githubusercontent.com/92384659/180456573-6b14ef65-b441-473c-8670-2ca48d23ed61.png)

• one with a tab style navigation between section
![image](https://user-images.githubusercontent.com/92384659/180456608-880515ff-c935-4bc6-8c50-f5c262f2cc9

[2022-07-22 14:20] giannnni commented on #385
I fixed the table reducing margins and moving fantoken name under symbol.
Tell me if it's enough or you need less margins (I suggest not).

Here my proposal: ![image](https://user-images.githubusercontent.com/92384659/180458622-7ef762fb-d772-448e-853b-2c7201a3e6aa.png)

[2022-07-22 14:22] giannnni commented on #386
Mobile version:
![Uploading image.png…]()

Tablet Version

[2022-07-22 14:31] giannnni commented on #384
Nice point, we could use a toast notification to remember users that could be some delays in Tx and generally using the platform when we're rewarding pool stakers.

Here an example:
<img width="383" alt="Schermata 2022-07-22 alle 16 30 26" src="https://user-images.githubusercontent.com/92384659/180461286-7a1a9986-8826-45f8-b96c-0bd15ca4ed21.png">

[2022-07-22 14:34] DavideSegullo commented on #403
I like the last one, what do you think @Giorgionocera ?

[2022-07-22 14:55] Giorgionocera commented on #405
It is very nice 😍 !
@giannnni, do we also have the tablet and mobile design for the component?

Moreover, @DavideSegullo  we can make the text clickable for referring to the tx on mintscan!

[2022-07-22 14:57] Giorgionocera commented on #401
Thank you @giannnni !
@giulioaiello can you please provide us with the texts for this page?

[2022-07-22 14:58] Giorgionocera commented on #385
Yeah, I think it could be nice! Thank you @giannnni !
@DavideSegullo we can move it in development!

[2022-07-22 14:59] Giorgionocera commented on #386
Thank you @giannnni!
@DavideSegullo we can implement it 😄

[2022-07-22 15:00] Giorgionocera commented on #384
So it will be on top of the website.
I think it is a better solution. Thank you!
@DavideSegullo can we implement this new feature, please?

[2022-07-22 15:02] Giorgionocera commented on #403
I agree with @DavideSegullo , I like the third version:
![image](https://user-images.githubusercontent.com/13519292/180467618-07313d58-1c8c-478c-9b7f-c78f47d9df8c.png)

So @DavideSegullo we can implement it 😄

[2022-07-22 15:05] #160 closed

[2022-07-22 15:07] #214 closed

[2022-07-22 15:08] #334 closed

[2022-07-22 15:09] #339 closed

[2022-07-22 15:09] #351 closed

[2022-07-22 15:10] Giorgionocera commented on #381
Thank you!

[2022-07-22 15:10] #381 closed

[2022-07-22 15:11] Giorgionocera commented on #383
Thank you!

[2022-07-22 15:11] #383 closed

[2022-07-22 15:15] Giorgionocera opened #407 "Total FanToken liquidity"
In the Pools page list, it could be useful to add the "total FanToken liquidity" as the total of the FanTokens pools liquidity.

@giannnni we need a solution identical to this #390.
Could you help us?

[2022-07-22 15:17] Giorgionocera commented on #392
I think that together with the implementation linked to issue #405, it could be perfect to disable every button.
Let's do it!! 😄

[2022-07-22 15:18] Giorgionocera commented on #393
@giannnni and @DavideSegullo could you please transcribe here the solution you want to adopt?
Thank you! 😄

[2022-07-22 16:51] Giorgionocera commented on #405
@DavideSegullo, maybe it could be useful to also give a look at issue #96.

[2022-07-22 16:51] Giorgionocera commented on #164
@DavideSegullo do you have any update on this?

[2022-07-22 16:54] Giorgionocera commented on #385
This also includes issue #335.

[2022-07-22 16:54] #335 closed

[2022-07-22 16:55] #295 closed

[2022-07-22 17:02] Giorgionocera commented on #300
"Restrict access to your DNS server from public network or reconfigure it to reject such queries."

This is not an issue related to Sinfonia. It is related to the provider (Cloudflare).

[2022-07-22 17:02] #300 closed

[2022-07-23 12:58] DavideSegullo commented on #388
Yes, @giulioaiello we need some text for the subtitle under "All Pools", do you have any suggestions?

[2022-07-23 15:27] DavideSegullo commented on #401
I have integrated the page, let's wait @giulioaiello for the texts, thank you

[2022-07-24 07:32] Giorgionocera commented on #388
@giannnni and @DavideSegullo, I have a question:
Why do we use the list/grid visualization only for all pools and not for my pools?

[2022-07-24 07:38] Giorgionocera commented on #386
Thank you @DavideSegullo!!
Now the next step is to work on #385 (redesign of the swap component, token selector included).

[2022-07-24 07:38] #386 closed

[2022-07-24 09:49] DavideSegullo commented on #388
I thought the same thing yesterday, but I think only the "All Pool" section was chosen because it also contains the "My Pools" section

[2022-07-24 10:03] Giorgionocera commented on #390
I really like this implementation!!! Thank you @DavideSegullo.

Maybe we only need to improve the search bar animation on click and start developing the filter functionality.

[2022-07-24 10:07] DavideSegullo commented on #390
Ye we can improve it, do we have some references? or any feedback about that?

[2022-07-24 15:21] giulioaiello commented on #401
ok so guys, in memory of the europa football cup, i suggest to use to famous song associated to the "cup" prize.
what do you think?

🎶 I'm coming home
I'm coming home 🎙

Dirty money ft. Skylar Grey

"Nothing to do here at moment, more prizes coming soon!
Stay updated "

[2022-07-24 15:26] giulioaiello commented on #388
hi guys, i suggest to explain what you can do on this page.

"On this page you can become a Liquidity Provider participating on the Sinfonia Pools. Bond your tokens to provide security to the network and earn rewards"

[2022-07-24 20:31] DavideSegullo commented on #401
@giulioaiello What title do you suggest?

[2022-07-24 20:45] DavideSegullo commented on #384
As we discussed with @giannnni, I wrote the code for the first suggestion

[2022-07-25 05:55] Giorgionocera commented on #388
Okay, but I need @giannnni is aware of the current visualization. Can you give us feedback? 😄

[2022-07-25 09:57] DavideSegullo commented on #405
Ok, I'll remove the old notifications system, the one that appears at the top center, do you agree with me @Giorgionocera @giannnni ?

[2022-07-25 12:28] Giorgionocera commented on #387
I dislike the change on the placeholder in the breadcrumb... Could we fix that?
I prefer to see directly the final data not a placeholder that after a while will change.

[2022-07-25 13:23] DavideSegullo commented on #405
I removed the old notification system, I chose to keep the success and error messages anyway, what do you think? @Giorgionocera @giannnni

[2022-07-25 13:43] Giorgionocera commented on #387
Now it is veeeeeery good! Thank you, man! 😄

[2022-07-25 13:43] #387 closed

[2022-07-25 20:15] Giorgionocera commented on #405
I'd like to listen to @giannnni feedback, even if I like the solution you proposed.

[2022-07-25 20:25] Giorgionocera commented on #392
Thank you! 😄

[2022-07-25 20:25] #392 closed

[2022-07-26 10:34] giannnni commented on #407
Yes, you could find a similar proposal here:
![image](https://user-images.githubusercontent.com/92384659/180985907-dc72f57b-dfaf-434c-b664-de139a86e50b.png)

Maybe this approach will trigger a little fix on #390 issue moving market cap info near the page title:
![image](https://user-images.githubusercontent.com/92384659/180986227-ee3bd9cd-a22d-4c16-85ed-e9d53aaceae8.png)

Think about it.

[2022-07-26 10:42] giannnni commented on #405
Yes I like it @DavideSegullo and as I said in our last call you could go to the bar and ask for an Ham&Cheese Toast Notification if missing.

[2022-07-26 10:44] giannnni commented on #406
Oooh yes, we could start from a short call, maybe tomorrow?

[2022-07-26 21:57] Giorgionocera opened #409 "Shades and Gradients review"
We need to review shades and gradients on Artist PDP.

[2022-07-28 08:52] Giorgionocera commented on #390
That one is perfect, thank you, man!

We need to align the right text "The total market cap is [...]".

Please, could you do that?

[2022-07-28 08:52] Giorgionocera commented on #407
We need to align the right text "The total liquidity is [...]".

Please, could you do that?

[2022-07-28 08:53] Giorgionocera commented on #401
Perfect! Thank you!

[2022-07-28 08:53] #401 closed

[2022-07-28 09:05] Giorgionocera commented on #405
At the moment only the swap actions are tracked as notifications.
IMHO we should trace all other actions:
- [ ] join pool x;
- [ ] remove from pool x;
- [ ] lock x tokens;
- [ ] unlock x tokens;
- [ ] transfer from chain A to chain B;
- [ ] claim an airdrop.

@giannnni, @DavideSegullo, and @giulioaiello please, give me feedback ASAP (in case you agree, please, @giulioaiello you need to provide us

[2022-07-28 22:10] giannnni opened #410 "Box Height review"
Sorry for brevity.

 <img width="555" alt="Schermata 2022-07-29 alle 00 07 11" src="https://user-images.githubusercontent.com/92384659/181645623-a816061e-5203-4582-8756-beba5465e041.png">

[2022-07-28 22:20] giannnni opened #411 "Embolding Pool Titles"
We need to embold title inside Pool Detail Page. TItile of first two sections are now regular instead of medium.
<img width="300" alt="Schermata 2022-07-29 alle 00 16 40" src="https://user-images.githubusercontent.com/92384659/181647011-1226c07f-ead7-4fb5-b3e6-7a1601f190b4.png">

<img width="451" alt="Schermata 2022-07-29 alle 00 16 38" src="https://user-images.githubusercontent.com/92384659/18164

[2022-07-28 22:25] giannnni opened #412 "Copy Fix"
I think we could differentiate this little informational text by explaining the duration of bonding period and the different amount of rewards.
<img width="1314" alt="Schermata 2022-07-29 alle 00 22 08" src="https://user-images.githubusercontent.com/92384659/181647537-b28c0ba5-2a85-47b3-8b65-17bc41107cb2.png">

My suggestion is:
Bond Assets for 1 day to earn low rewards and swap fees.
Bond Assets

[2022-07-28 23:01] DavideSegullo commented on #412
I like it, it's a better hint for the users

[2022-07-28 23:03] giannnni commented on #388
I'm agree. Let's go @DavideSegullo!

[2022-07-29 05:49] Giorgionocera commented on #412
I think it could be ok, but let's use 7 days and 14 days.

[2022-07-29 06:01] Giorgionocera commented on #388
Thank you all!

[2022-07-29 06:01] #388 closed

[2022-07-29 06:02] Giorgionocera commented on #390
Thank you!

[2022-07-29 06:02] #390 closed

[2022-07-29 06:02] Giorgionocera commented on #407
Thank you!

[2022-07-29 06:02] #407 closed

[2022-07-29 06:02] Giorgionocera commented on #410
Thank you!

[2022-07-29 06:02] #410 closed

[2022-07-29 06:03] Giorgionocera commented on #411
Thank you!

[2022-07-29 06:03] #411 closed

[2022-07-29 06:04] #409 closed

[2022-07-29 07:07] DavideSegullo commented on #405
@Giorgionocera  Just some notes, with "lock x tokens" and "unlock x tokens" do you mean GAMM?

We can also add the airdrop ID or name for "Claim an airdrop" and change it likes "you redeemed foo airdrop"

[2022-07-29 07:09] DavideSegullo commented on #164
@Giorgionocera  Yes, we don't have a behaviour or a component like that, so we should add it

[2022-07-29 08:09] Giorgionocera commented on #265
The platform allows the users to access the services through the use of the Kepler wallet extension (for chrome). As a consequence, internet explorer users cannot log into the service. Moreover, the Chrome [fix arrived in version 64](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Content-Type-Options), released in 2018.
In this sense, since it does not influence Sinfonia data (public

[2022-07-29 08:09] #265 closed

[2022-07-29 08:15] Giorgionocera commented on #248
For the first point, **TCP Port Opened**, the application runs over a served hosting platform. As a consequence, no interaction on the ports is possible.
For the other points, this is a duplicate of #194.

[2022-07-29 08:19] #248 closed

[2022-07-29 09:54] giulioaiello commented on #412
i agree with you guys

[2022-07-29 10:08] Giorgionocera commented on #405
We can also add the airdrop ID or name for "Claim an airdrop" and change it likes "you redeemed foo airdrop"

You got it!

[2022-07-29 10:09] Giorgionocera commented on #412
Let's move it @DavideSegullo ! 😄

[2022-07-29 10:42] Giorgionocera commented on #194
I'll answer you by point:
1. No sensitive information is disclosed by error/warning messages.
2. As for the CSP, likely described in [MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP), if the site doesn't offer the CSP header, browsers likewise use the standard [same-origin policy](https://developer.mozilla.org/en-US/docs/Web/Security/Same-origin_policy);
3. The endpoints only show data

[2022-07-29 12:40] #194 closed

[2022-07-29 14:36] DavideSegullo commented on #412
@DavideSegullo I did it

[2022-07-29 16:09] Giorgionocera commented on #180
The first one is not a bug. The second is a duplicate of #192

[2022-07-29 16:09] #180 closed

[2022-07-29 16:10] Giorgionocera commented on #192
You are right. I'm sorry for the mistake on the first issue.

[2022-07-29 16:20] Giorgionocera commented on #192
Hi there @Roovys and many thanks for the time spent on Sinfonia during the competition.

Many thanks also for the issues you reported. However, after a careful analysis of our technical jury, the issues you found haven’t been considered as major or critical thus meaning that we couldn’t assign you the minimum incentive for them.

However, the team appreciated the effort and decided to incentivize

[2022-07-29 16:30] Giorgionocera commented on #299
We answered you on #192.

[2022-07-29 16:30] #299 closed

[2022-07-29 17:23] cbsantos90 commented on #180
i didn't duplicate!!!

[2022-07-29 17:25] cbsantos90 commented on #180
it doesn't make sense

[2022-07-29 17:28] cbsantos90 commented on #180
i submitted the bug earlier

[2022-07-29 18:12] Giorgionocera commented on #385
Thank you!

[2022-07-29 18:12] Giorgionocera commented on #384
Thank you!

[2022-07-29 18:12] #384 closed

[2022-07-29 18:12] Giorgionocera commented on #405
Perfect! Thank you!

[2022-07-29 18:12] #405 closed

[2022-07-29 18:12] Giorgionocera commented on #412
Thank you!

[2022-07-29 18:12] #412 closed

[2022-07-29 18:33] Giorgionocera commented on #385
I think that in the desktop version the information on the amount of token available should be visible at every moment of the swap action. We need to bring it back.

[2022-07-29 22:31] DavideSegullo opened #414 "Increase Osmosis Fees"
As we know, many validators have changed the minimum fees, in order to speed up transactions, so I suggest increasing the transaction fees, what do you think?

[2022-07-30 00:22] cbsantos90 commented on #180
1 month of waiting, responded by the unprofessionalism behaviour. shame on you @Giorgionocera

[2022-07-30 00:38] cbsantos90 commented on #192
lol. i didn't even know this post existed

[2022-07-30 11:41] DavideSegullo commented on #180
@cbsantos90 It's a duplicated, you edited your post on 9 May 19:24 CEST, and the issue #192 has been created on 9 May 19:10 CEST

[2022-08-02 11:08] Giorgionocera commented on #414
I think it could be a good choice.

[2022-08-02 11:10] Giorgionocera commented on #180
Please, I'm here to listen to your problems. As already reported by @DavideSegullo,

What about this statement?

[2022-08-02 18:40] cbsantos90 commented on #180
do you think i copied someone's work?? ofc not! i didn't even know about #192 post. all of ya don't respect my works and my enthusiasm to this project!

[2022-08-03 08:17] Giorgionocera commented on #180
As you can read from the comment, I said it is a duplicate. I did not say you copied.
It is a matter of fact that your issue duplicates #192. In this sense, the report you produced is indicating the issue of something already highlighted.

[2022-08-04 07:15] cbsantos90 commented on #180
the difference is only 14 minutes and you don't give some rewards for me who has spent time for this project! also you don't give rewards for the other users who has spent their time to this project! disrespectful! you said that the start prize of the bug bounty is $500 in BTSG, and also that's a lie! once again, very disrespectful!

[2022-08-04 08:19] Giorgionocera commented on #180
As you might be able to see, the reports had to **be evaluated by an internal commission** and **get approved** in order to be eligible for a prize. However, the report you submitted does not meet any requirements since:

1. It’s been submitted after “someone else” reported the same issue.
2. The report hasn’t been considered a valid one by the commission since it was just a UI error, however, a c

[2022-10-11 07:00] Aditya100216 commented on #336
I see.. Okay. At least I'm trying and support the project.. Thank you for
an opportunity. 😊

On Mon, May 30, 2022, 8:48 PM DavideSegullo ***@***.***>
wrote:

[2022-10-11 07:37] Adegoke04 commented on #208
I think you are right... as i have tried it again 3 times and went
successful and perfect

Thank you

On Tue, 10 May 2022, 8:45 am Giorgio Nocera, ***@***.***>
wrote: